<!-- <pre>{{data.events | json}}</pre> -->
<mat-toolbar>
  {{data.sportname}} Schedule
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="cards-container">
  <mat-card class="event-card" *ngFor="let event of data.events">
    <mat-card-header class="mat-mdccard-header">
      <img mat-card-avatar class="mat-mdccard-avatar pictogram-button-image"
        src="assets/images/pictograms/{{data.sportname}}.png" alt="{{data.sportname}} pictogram" />
      <mat-card-title class="mat-mdccard-title">{{ event.eventname }}</mat-card-title>
      <mat-card-subtitle class="mat-mdccard-subtitle">{{ event.event }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mat-mdccard-content">
      <h3>Athletes Competing: {{event.athletes }}</h3>
      <h4>
        Start Time(Estimated):
        <span *ngIf="event.starttime; else notime;">
          {{event.starttime * 1000 | date: "MMM d, y, h:mm:ss a" }}
        </span>
        <ng-template #notime>
          No Time Available Yet!
        </ng-template>
      </h4>
    </mat-card-content>
  </mat-card>
</div>