@use '@angular/material' as mat;

@mixin tooltip-theme {
  .mat-mdc-tooltip,
  .mdc-tooltip__surface {
    background: var(--mat-card-background-color) !important;
    color: var(--mat-card-foreground-color) !important;
    font-size: 12px !important;
    opacity: 1 !important; // Force opacity
    z-index: 1500 !important; // Ensure tooltip is above other elements

    // Improve contrast for light theme
    // &:not(.dark-theme) {
    //   background: var(--mat-toolbar-container-background-color) !important;
    //   border: 1px solid var(--primary-color) !important;
    // }
  }
}
