<div class="feedback-container">
<mat-vertical-stepper color="accent" linear="false" #stepper>
    <mat-step [stepControl]="nameform">
      <form [formGroup]="nameform">
        <ng-template matStepLabel>Name</ng-template>
        <mat-form-field>
          <input matInput color="accent" placeholder="FullName" formControlName="name">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="emailform">
      <form [formGroup]="emailform">
        <ng-template matStepLabel>Email</ng-template>
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="feedbackmsgform">
        <form [formGroup]="feedbackmsgform">
          <ng-template matStepLabel>Feedback</ng-template>
          <mat-form-field>
            <textarea matInput rows="3" cols="40" placeholder="Your valuable feedback" formControlName="feedback"></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ng-template matStepLabel *ngIf="successmsg">{{successmsg}}</ng-template>
      <ng-template matStepLabel *ngIf="errmsg">{{errmsg}}</ng-template>  
      <div>
        <button mat-button *ngIf="!successmsg" matStepperPrevious>Back</button>
         <span *ngIf="successmsg">{{successmsg}} <button class="submit-btn" mat-flat-button routerLink="/home">Home</button></span>
         <button mat-flat-button class="submit-btn" color="accent" (click)="stepper.reset()">Reset</button>
         <a *ngIf="!successmsg" class="submit-btn" mat-flat-button color="primary" [disabled]="nameform.invalid || emailform.invalid || feedbackmsgform.invalid" (click)="submitfeedback()">Send<mat-icon>send</mat-icon></a>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  </div>
