@use '@angular/material' as mat;

.feedback-container {
  display: flex;
  justify-content: center;
  margin: 16px;

  mat-card {
    background-color: var(--mat-toolbar-container-background-color);
    border-radius: 10px;
    box-shadow: var(--primary-color) 0px 0.5px 11px 0.5px;
    padding: 16px;
    max-width: 865px;
    
    &:hover {
      box-shadow: gray 0px 0.1px 4px 2px;
    }

    @media screen and (max-width: 600px) {
      padding: 24px 0px 0px 0px;
      margin: 32px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 600px) {
      padding: 8px;
    }
  }

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: center;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    margin: 0;
  }
}

p {
  margin: 0px 24px 24px 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
  hyphens: auto;

  @media (min-width: 960px) {
    clear: none;
  }
}

.theme-preference {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  
  .theme-label {
    font-size: 14px;
    color: var(--mat-form-field-label-text-color);
  }
  
  mat-radio-group {
    display: flex;
    gap: 20px;
    
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 8px;
    }
  }
}