
.container{
    margin: 24px;
}
.sports-icons{
    margin-left: 16px;
    height: 48px;
    width: 48px;
}
.cards-container{
    margin-top: 20px;
}
.athletes-card {
    max-width: 300px;
  }
.table-container{
    
    // float: right;
}