
.container{
    margin: 24px;
}
.sports-icons{
    text-align: center;
    margin-left: 0px;
    height: 16px;
    width: 24px;
}
.cards-container{
    margin-top: 20px;
}
.athletes-card {
    width:300px;
    min-width: 300px;
    margin-bottom: 10px;
  }
  .sportsdetails{
      margin-top:20px;
  }  
// .table-container{
    
//     // float: right;
// }