<mat-toolbar class="schedule-toolbar">
  <div class="nav-btns">
    <button *ngIf="!isEventDetailsActive()" mat-stroked-button [color]="isScheduleActive() ? 'primary' : ''" routerLink="./schedule" routerLinkActive="active-link">
      <mat-icon>today</mat-icon>
      Schedule
    </button>
    <ng-container *ngIf="eventName">
      <button (click)="goBack()" mat-mini-fab color="accent">
        <mat-icon>arrow_back</mat-icon>
        <!-- Schedule -->
      </button>
      <mat-icon>chevron_right</mat-icon>
      <div class="event-name">
         <div class="sex-name">
            <div><mat-icon color="primary">{{sex === 'M' ? 'man' : 'woman'}}</mat-icon></div>
           <!-- <div>{{sex === 'M' ? "Man's" : "Woman's"}}</div> -->
          </div>
        {{ eventName }}
      </div>
    </ng-container>
    <app-custom-day-select *ngIf="!isEventDetailsActive()" [hidden]="!isScheduleActive()"></app-custom-day-select>
    <ng-container *ngIf="!isEventDetailsActive()">
      <button mat-stroked-button [color]="isScheduleActive() ? '' : 'primary'" routerLink="./athletes" routerLinkActive="active-link">
        <mat-icon>directions_run</mat-icon>
        Athletes
      </button>
      <a href="https://worldathletics.org/competitions/world-athletics-championships/tokyo25/timetable" target="_blank" rel="noopener"
        class="wc-logo-link">
        <span class="external-link-indicator"><mat-icon>open_in_new</mat-icon></span>
        <button mat-stroked-button color="">
          <mat-icon>currency_yen</mat-icon>
          Official
        </button>
      </a>
    </ng-container>
  </div>
</mat-toolbar>
<div class="wc-content">
  <router-outlet></router-outlet>
</div>