@use '@angular/material' as mat;

.mat-toolbar {
  height: 84px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  @include mat.elevation(1);
}


.nav-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  
  .wc-logo {
    border-radius: 4px;
    cursor: pointer;
  }

}