.container-bigger{
    margin: 0 auto 0 auto;
    max-width:60%;
  }
.container {
    margin: 24px;
}
.header {
    font-size: 1.3rem;
}
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.gif-img {
    width: 100%;
}
.mat-button {
    padding: 4px;
}
h3 {
    padding-top: 1rem;
    margin-top: 2rem;
    font-size: 1.35rem;
}
