<div ngClass="container" 
[ngClass.gt-sm]="{'container':false, 'container-bigger':true}" >
        <!-- <h3>When You Talk About Olympic Sports, Indian Main Stream Media Is Like,</h3>
        <img class="gif-img" src="assets/gif/idk3.gif">
        <p>
                Prabhu Chawla calling Olympics <a target="_blank" rel="noopener" mat-button color="accent" href="https://www.youtube.com/embed/SbcJ1zULANk?start=193">TAMASHA<mat-icon>launch</mat-icon></a> event,
                Barkha Dutt getting<a target="_blank" color="accent" rel="noopener" mat-button href="https://twitter.com/BDUTT/status/1152880982959071232">TEARS & GOOSEBUMPS<mat-icon>launch</mat-icon></a> over 1 year old video of Hima Das.
                A lot of prominent Indian journos are ignorant, but in this age of Twitter, everyone wants that pie of likes and retweets. Even if
                they didn't know the name of the sport or athlete 3 days ago.
        </p> -->   
    <h3>For The Love Of Indian Sports</h3>    
    <p>
        This app is born out of my ever growing frustration with Indian MSM and their ignorence towards Olympics sports. Here, you can track qualified Indian athletes for Tokyo, Find official qualification pathway, find 
        upcoming Olympic qualification events. The app currently only focuses on sports in which our
        Indian athletes have a genuine chance of qualifying for Tokyo 2020, It's based on my own intuition so, be kind if I'm proven wrong(Honestly I'd love that).
    </p>
    <p>
         Also, one of the things which is hot on twitter these days is of all Bollywood Celebs jumping on the bandwagon, tweeting about glory to India and Indian athletes.
         They end up making a shitty sports biopics(Smash it like Sindhu may be next).
         That's why Shows I love section is there, you'll find some of the best sports shows and movies which I've ever come across while watching shows.I'll update the list frequently when I come across more.
         The shows are in no particular order, but every damn thing in that list has a great rewatch value attached. It's definitely worth your time.  
     </p>
     <h3> Give Feedback</h3>
     <div>
         <p>
            Now that you're here, it's my turn to ask questions. How did you like the app? Did you find the app to be a complete mess or did you find or learned something? How can I make your life more easier? Is Information in sports details any good?<br />
         
            Send in your thoughts directly to me. I'm on <a target="_blank" rel="noopener" color="primary" mat-button href="https://twitter.com/olympic_indian">Twitter</a>, too, so if that's your deal, feel free to shoot there !<br />
          
            I would totally love to hear about your experience about information on this app. Give suggestions on how to make this better or let me know about my mistakes. I want this app to be one of the best on the web about Indian sports and I can't do it without your help.
        </p>
     </div>     
</div>
