<div class="container">
    <p>
        This app is build solely for tracking India's qualification journey to Tokyo 2020.You can find upcoming 
        Olympic qualification events of various sports in calander, Also it's worth noting that I've only focused 
        on sports in which Indian athletes have a decent chance of qualifyingfor Tokyo, It's based on my own intuition but, 
        I'll make sure to update once we get that every damn Quota in whatever sport. 
    </p>
     <h4>The state of Main stream media when it comes to Olympic sports is like:</h4>
     <img class="gif-img" src="assets/gif/idk2.gif">
     <p>
         This app is also a result of my growing frustration with Indian main stream media, Prabhu Chawla calls Olympics <a target="_blank" mat-flat-button color="primary" href="https://www.youtube.com/embed/SbcJ1zULANk?start=193">"TAMASHA"<mat-icon>launch</mat-icon></a>,
          Barkha Dutt gets<a target="_blank" color="primary" mat-flat-button href="https://twitter.com/BDUTT/status/1152880982959071232"> "Tears & Goosebumps"<mat-icon>launch</mat-icon></a> over 1 year old video, Rajdeep Sardesai's hobby seems to be declaring every Indian athlete 
         Gold contender for upcoming olympics. All wants jump on the bandwagon just like our Bollywood(Waiting for one on P V Sindhu soon). That's why whole section
         is devoted to some of the greatest sports shows and movies which I've ever come across.I'll update the list there frequently so make sure to check it out.
         The shows are in no particular order, but every damn thing in that list has a great rewatch value attached to it and is definately worth your time not the shitty Bollywood biopics.  
     </p>
     
     <p>
         Feel free to contact me on <a target="_blank" color="primary" mat-raised-button href="https://twitter.com/olympic_indian">Twitter<mat-icon>launch</mat-icon></a> If 
         you have any suggetions or thing that you'll like to see in the app, I'll be really happy to implement it.
     </p>
</div>
