.container{
    margin: 0 auto 0 auto;
    max-width:800px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.gif-img {
    max-width: 100%;
}