<div class="about-container">
    <div class="qa-cards">
        <div class="qa-card" *ngFor="let panel of appPanels; let i = index" [class.active]="panel.expanded">
            <div class="qa-header" (click)="togglePanel(panel, i)">
                <ul class="question-list">
                    <li>
                        <h3>{{panel.question}}</h3>
                    </li>
                </ul>
                <div class="controls">
                    <button mat-stroked-button class="expand-button">
                        {{panel.expanded ? 'Collapse' : 'Expand'}}
                    </button>
                </div>
            </div>

            <div class="qa-content" [@panelAnimation]="getPanelState(panel)"
                (@panelAnimation.done)="onAnimationDone($event, i)">
                <div class="content-wrapper" [@contentAnimation]="getContentState()">
                    <div class="answer-detailed">
                        <ul class="answer-list">
                            <li>
                                <div class="detail-content">
                                    <p *ngIf="panel.description">{{panel.description}}</p>

                                    <div class="features" *ngIf="panel.features?.length">
                                        <ul>
                                            <li *ngFor="let feature of panel.features"
                                                [innerHTML]="parseLinks(feature)"></li>
                                        </ul>
                                    </div>

                                    <!-- New additional info paragraph -->
                                    <p *ngIf="panel.additionalInfo" class="additional-info">{{panel.additionalInfo}}</p>

                                    <p class="conclusion" *ngIf="panel.conclusion">
                                        {{panel.conclusion}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>