@use '@angular/material' as mat;

.container {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;

  @media (min-width: 960px) {
    max-width: 60%;
  }
}

.mat-accordion {
  width: 100%;
}

.mat-expansion-panel {
  background-color: var(--mat-toolbar-container-background-color);
  margin-bottom: 8px;
  overflow: hidden;
  @include mat.elevation(1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &.mat-expanded {
    @include mat.elevation(3);
    transform: translateY(-2px);
    box-shadow: var(--primary-color) 0px 0.5px 8px 0.5px;
  }

  &:hover {
    background-color: var(--mat-card-background-color);
    @include mat.elevation(2);
    transform: translateY(-4px);
    box-shadow: gray 0px 0.1px 8px 2px;
  }
}

.mat-expansion-panel-header {
  padding: 16px 20px;
  font-family: 'Geist Sans', sans-serif;
}

.mat-panel-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.mat-panel-description {
  font-size: 0.9rem;
  color: var(--mat-card-subtitle-color);
}

.table-container {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  background-color: transparent;
}

.mat-header-cell {
  font-family: 'Geist Sans', sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.mat-cell {
  font-family: 'Geist Mono', monospace;
  border-bottom: 1px solid var(--mat-divider-color);
}

.no-data-message {
  padding: 16px;
  text-align: center;
  font-family: 'Geist Sans', sans-serif;
  color: var(--mat-card-foreground-color);
}

@media (max-width: 768px) {
  .container {
    margin: 16px;
  }

  .mat-expansion-panel-header {
    padding: 12px 16px;
  }

  .mat-panel-title {
    font-size: 0.9rem;
  }

  .mat-panel-description {
    font-size: 0.8rem;
  }

  .mat-table {
    .mat-header-row {
      display: none;
    }

    .mat-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      padding: 8px 0;
    }

    .mat-cell {
      border-bottom: none;
      padding: 0;

      .cell-content {
        display: flex;
        flex-direction: column;
      }

      &:nth-child(1) {
        grid-column: 1 / 2;
        font-weight: 600;
        font-size: 1.1rem;
      }
      &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
       &:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
       &:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
      }
       &:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
      }
    }
  }
}
  