<div class="container" *ngIf="eventData$ | async as eventData">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let event of eventData.eventDetails">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ event.phaseName | titlecase }}
        </mat-panel-title>
        <mat-panel-description>
          {{ event.summary }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="table-container">
        <table mat-table [dataSource]="event.dataSource" class="mat-table" *ngIf="event.athletes.length > 0">

          <!-- Dynamically generate columns -->
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ getColumnName(column) }}</th>
            <td mat-cell *matCellDef="let element">
              <div class="cell-content" [attr.data-label]="getColumnName(column)">
                {{ element[column] ?? 'NA' }}
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div *ngIf="event.athletes.length === 0" class="no-data-message">
        Qualified athletes will be displayed after the completion of qualification rounds.
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
