<div class="container" fxLayout="column">
<!--  <mat-card class="sport-card" *ngIf="sportsdetails" fxLayout="row wrap">
        <mat-card-content fxLayoutAlign="center center">
                <span class="sport-card-title">{{sportsdetails.sportname}}&nbsp;({{sportsdetails.Medals}})</span>
                <a mat-button target="_blank" href="{{sportsdetails.doc_pdf}}">
                   <mat-icon>picture_as_pdf</mat-icon>Qualification Road
                </a>
        </mat-card-content> 
</mat-card> -->
<div class="sports-details-card" *ngIf="sportsdetails">
<img ngClass="sports-details-card-image" 
[ngClass.gt-sm]="{'sports-details-card-image':false, 'sports-details-card-image-bigger':true}" src="http://localhost:3000/sport_images/{{sportsdetails.sportname}}.jpeg">
<div ngClass="sport-details-card-header"
[ngClass.gt-xs]="{'sport-details-card-header':false, 'sport-details-card-header-bigger':true}">
                <h1>{{sportsdetails.sportname | uppercase}}</h1>
                <span class="medals-number"><img class="medal-icon" src="assets/icon_medal.png">{{sportsdetails.Medals}}</span> 
                <a mat-flat-button color="accent" target="_blank" href="Qualifications/{{sportsdetails.sportname}}/{{sportsdetails.sportname}}.pdf">
                        <mat-icon>picture_as_pdf</mat-icon>Qualification Road for Tokyo
                </a>
</div>
        <p>This Is Football unpacks the unique phenomenon that grips and unifies 
                        billions of people from every corner of the globe. Across the 
                        episodes universal themes of the human experience are explored: 
                        Redemption, Belief, Chance, Love, Pride, and Wonder.
        </p>        
</div>
<mat-tab-group mat-align-tabs="center">
        <mat-tab label="Events">
                <div class="events-container" *ngIf="sportsdetails">
                        <mat-accordion multi="true">
                                <mat-expansion-panel *ngFor="let eventscatagory of sportsdetails.events | keyvalue" class="event-header" hideToggle="true" #eventpanel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <mat-icon color="primary" *ngIf="!eventpanel.expanded">chevron_right</mat-icon>
                                                <mat-icon color="primary" *ngIf="eventpanel.expanded">expand_more</mat-icon>
                                                {{eventscatagory.key | titlecase}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                
                                        <table mat-table *ngIf="sportsdetails.sportname === 'Athletics'; else othersports"  [dataSource]="eventscatagory.value"
                                        class="mat-elevation-z8">
                                            <ng-container matColumnDef="Event">
                                                    <th mat-header-cell *matHeaderCellDef>Event</th>
                                                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="EntryStandard">
                                                    <th mat-header-cell *matHeaderCellDef>Entry Standard</th>
                                                    <td mat-cell *matCellDef="let element">
                                                            {{ element.qualificationstandard }}
                                                    </td>
                                            </ng-container>
                                            <ng-container matColumnDef="NR">
                                                    <th mat-header-cell *matHeaderCellDef>NR</th>
                                                    <td mat-cell *matCellDef="let element">{{ element.NR }}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="WR">
                                                    <th mat-header-cell *matHeaderCellDef>WR</th>
                                                    <td mat-cell *matCellDef="let element">{{ element.WR }}</td>
                                            </ng-container>
                                            <!-- <ng-container matColumnDef="TotalEntries">
                                                    <th mat-header-cell *matHeaderCellDef>Total Entries</th>
                                                    <td mat-cell *matCellDef="let element">
                                                            {{ element.totalentries }}
                                                    </td>
                                            </ng-container> 
                                            -->
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                        </table>
                                        <ng-template #othersports> 
                                        <mat-card *ngFor="let events of eventscatagory.value">
                                                {{events.name}}
                                                <mat-card-content>
                                                        {{events.category}}
                                                        <div *ngIf="sportsdetails.sportname === 'Judo' && eventscatagory.key === 'mixed'">
                                                                        <p>Men-{{events.men}}</p>
                                                                        <p>Women-{{events.women}}</p>
                                                        </div>
                                                </mat-card-content>
                                        </mat-card>
                                    </ng-template>  
                                </mat-expansion-panel>       
                        </mat-accordion>
                    </div>
        </mat-tab>
      </mat-tab-group>

</div>        