  .container{
    margin: 0 auto;
    max-width:1050px;
  }
  .event-header .mat-expansion-panel-header-title {
    flex-basis: 0;
    align-items: center;
  }
  .sports-icons{
      height: 24px;
      width: 24px;
  }
  .events-container{
      margin-top: 20px;
  }
  
  table{
    width: 100%
  }
  .sport-card{
    padding-top: 0px;
  }
  .sport-card-title{
    font-size: 20px;
  }
  .sport-card-image{
    border-radius: 4px;
  }
  .mat-button{
    padding-left:8px;
    padding-right:0px; 
  }