.event-header .mat-expansion-panel-header-title, 
.event-header .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.event-header .mat-expansion-panel-header-title {
    align-items: center;
  }

.lesson-header .mat-expansion-panel-header-title, 
.lesson-header .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.lesson-header .mat-expansion-panel-header-title {
    align-items: center;
  }
  .mat-expansion-panel-header-description {
    display: flex;
    align-items: center;
    align-content: space-around;  
    justify-content: flex-end;
}
mat-expansion-panel-header[collapsedHeight="auto"]:not(.mat-expanded) { padding:10px; }
.sports-icons{
    height: 24px;
    width: 24px;
}
.heading-events-title{
    margin-top: 16px;
    font-size: 24px;
}
.events-container{
    margin-top: 20px;
}
.cards-container{
    margin-top: 20px;
}
.athletes-card {
    width:300px;
    min-width: 300px;
    margin-bottom: 20px;
    height: 360px;
  }
  .sportsdetails{
      margin-top:20px;
  }
   .mat-card-image {
     height:200px;
     object-fit: cover;
 }
 .mat-card-header{
     height:80px;
 } 
 table{
  width: 100%
 }
 .mat-card{
   padding-top: 0px;
 }
 .mat-card-image{
  border-radius: 4px;
 }
 .mat-button{
   padding-left:8px;
   padding-right:0px; 
 }
//  .sport-card{
//    max-width: 600px;
//  }