.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 24px 0px 0px 24px;
}
.movies-card{
    width:350px;
    margin-bottom: 16px;
    margin-right: 16px;
    height: 380px;
}
.mat-card-image{
  height: 350px;
}
// .mat-card-content {
//   white-space: nowrap;
//   overflow: hidden;
//   padding-left: 4px;
//   padding-right: 4px;
//   text-overflow: ellipsis;
// }
