    <mat-error *ngIf="errmsg">
        {{errmsg}}
    </mat-error>
    <!-- <pre>{{showsdata}}</pre> -->
    <mat-paginator
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="handlePageEvent($event)">
    </mat-paginator>
    <div class="cards-container" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card color="primary" class="movies-card mat-elevation-z8" *ngFor="let showcontent of showsdata">
             <mat-card-header>
                <mat-card-title>{{showcontent.name}}</mat-card-title>
            </mat-card-header>
            <iframe class="mat-elevation-z24" mat-card-image [src]="videoyoutube + showcontent.youtube_id | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!--  <mat-card-content >
                {{showcontent.description}}
            </mat-card-content>
         <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        -->
        </mat-card>
    </div>

