.cards-container{
     margin: 24px 0px 0px 24px;
}
.movies-card{
    width:300px;
    margin-bottom: 16px;
    margin-right: 16px;
    height: 380px;
}
.mat-card-image{
  height: 260px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sticky-paginator {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.mat-card-content {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
  text-overflow: ellipsis;
}
