<mat-error *ngIf="errmsg">
    {{errmsg}}
</mat-error>
<!-- <pre>{{showsdata}}</pre> -->
<!-- TO DO: Replace pagination with Virtual Scrolling -->
<!-- <mat-paginator class="sticky-paginator" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)">
</mat-paginator> -->
<div class="cards-container">
    <mat-card color="primary" class="movies-card" *ngFor="let showcontent of showsdata">
        <mat-card-header>
            <img mat-card-avatar src="assets/images/streaming/{{showcontent.availableOn}}.jpg"
                alt="{{showcontent.availableOn}} logo" />
            <mat-card-title>{{showcontent.name}}</mat-card-title>
            <mat-card-subtitle>{{ showcontent.sport }}</mat-card-subtitle>
        </mat-card-header>
        <div class="video-container mat-card-image mat-elevation-z4">
            <img [src]="videoStates[showcontent.youtube_id].thumbnailUrl"
                (error)="handleImageError(showcontent.youtube_id)"
                [class.fade-out]="videoStates[showcontent.youtube_id].isPlaying" class="video-thumbnail"
                [alt]="showcontent.name">

            <div class="play-button" *ngIf="!videoStates[showcontent.youtube_id].isPlaying"
                (click)="playVideo(showcontent.youtube_id)">
                <div class="play-icon"></div>
            </div>

            <div class="loading-spinner" *ngIf="videoStates[showcontent.youtube_id].isLoading">
                <mat-spinner diameter="50"></mat-spinner>
            </div>

            <iframe *ngIf="videoStates[showcontent.youtube_id].isPlaying"
                [src]="(videoyoutube + showcontent.youtube_id + videoParams) | safe"
                (load)="onVideoLoad(showcontent.youtube_id)" frameborder="0" class="video-frame"
                [class.visible]="!videoStates[showcontent.youtube_id].isLoading"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <!-- <mat-card-content matTooltip="{{showcontent.description}}">
            {{showcontent.description}}
        </mat-card-content> -->
        <!--   <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        -->
    </mat-card>
</div>