@use '@angular/material' as mat;

.handwriting {
  font-family: 'Tangerine', 'Mukta', 'Hind', cursive, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
    width: 80%;
    @include mat.elevation(4);
    background-color: var(--mat-toolbar-container-background-color);
    border-radius: 10px;
}

.funky-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, var(--mat-toolbar-container-background-color) 40%, var(--primary-color) 100%);
  opacity: 0.30;
  z-index: -1;
  transition: background 0.3s;
}

.dark-theme .funky-bg {
  background: linear-gradient(1deg, var(--mat-toolbar-container-background-color) 40%, var(--primary-color) 100%);
  opacity: 0.30;
}


.coming-soon {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    
    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
        
        @media (min-width: 1200px) {
            font-size: 4.5rem;
        }
    }
    
    p {
        font-size: 1.25rem;
        color: #666;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
        
        @media (min-width: 1200px) {
            font-size: 1.5rem;
        }
    }
}
