<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo-container" [routerLink]="['/home']" [queryParams]="{ edition: selectedOlympics }"
    [class.active-logo]="isActivePath()">
    <span>Indian</span>
    <img src="assets/images/generic/logo.png" class="olympic-logo" alt="olympic rings logo" loading="eager"
      decoding="async" fetchpriority="high" width="60" height="24">
    <span>Dream</span>
  </div>
  <div class="logo-container" [matMenuTriggerFor]="olympicsMenu" (menuOpened)="isOlympicsMenuOpen = true"
    (menuClosed)="isOlympicsMenuOpen = false">
    <img [src]="selectedOlympicsLogo" class="olympics-option-logo" [alt]="selectedOlympics + ' logo'" loading="lazy"
      decoding="async" fetchpriority="low" width="50" height="50">
    <div class="loader-icon-container">
      <mat-spinner *ngIf="loading" diameter="24" color="primary"></mat-spinner>
      <mat-icon *ngIf="!loading" class="arrow-icon" [color]="isOlympicsMenuOpen ? '' : 'primary'">{{ isOlympicsMenuOpen
        ? 'arrow_drop_up' :
        'arrow_drop_down' }}</mat-icon>
    </div>
  </div>

  <mat-menu #olympicsMenu="matMenu" class="custom-menu">
    <button mat-menu-item *ngFor="let option of olympicOptions" (click)="onOlympicsChange(option.id)">
      <img [src]="option.logo" class="olympics-option-logo" [alt]="option.name + ' logo'" loading="lazy"
        decoding="async" fetchpriority="low" width="24" height="24">
      <!-- <span>{{option.name}}</span> -->
    </button>
  </mat-menu>

  <nav class="nav-links">
    <button class="nav-button" [routerLink]="['/athletes']" [queryParams]="{ edition: selectedOlympics }" mat-button
      routerLinkActive="active-link">
      <!-- <mat-icon>directions_run</mat-icon> -->
      Quotas Earned
    </button>
    <button class="nav-button" [routerLink]="['/calendar']" [queryParams]="{ edition: selectedOlympics }" mat-button
      routerLinkActive="active-link">
      <!-- <mat-icon>calendar_month</mat-icon> -->
      Calendar
    </button>
    <button class="nav-button" [routerLink]="['/schedule']" [queryParams]="{sport: '', edition: selectedOlympics}"
      [ngClass]="{'active-link': isScheduleActive()}" mat-button>
      <!-- <mat-icon>date_range</mat-icon> -->
      Schedule
    </button>
    <button class="nav-button" [routerLink]="['/shows']" [queryParams]="{ edition: selectedOlympics }" mat-button
      routerLinkActive="active-link">
      <!-- <mat-icon>movie</mat-icon> -->
      Shows I love
    </button>
    <button class="nav-button" [routerLink]="['/stories']" [queryParams]="{ edition: selectedOlympics }" mat-button
      routerLinkActive="active-link">
      <!-- <mat-icon>description</mat-icon> -->
      Stories
    </button>
    <button class="nav-button" [routerLink]="['/feedback']" [queryParams]="{ edition: selectedOlympics }" mat-button
      routerLinkActive="active-link">
      <!-- <mat-icon>feedback</mat-icon> -->
      Feedback
    </button>
    <button class="nav-button" [routerLink]="['/about']" [queryParams]="{edition: selectedOlympics}" mat-button
      routerLinkActive="active-link">
      About
    </button>
  </nav>
  <span class="fill-remaining-space"></span>
  <div class="theme-switch">
    <div><mat-icon>{{currentTheme === 'dark-theme' ? 'dark_mode' : 'light_mode'}}</mat-icon></div>
    <div><mat-slide-toggle class="theme-toggle" color="primary" [checked]="currentTheme === 'dark-theme'"
        (change)="onSetTheme()" [disableRipple]="true">
      </mat-slide-toggle>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over">
    <mat-nav-list (click)="drawer.close()">
      <a mat-list-item [routerLink]="['/athletes']" [queryParams]="{ edition: selectedOlympics }"
        routerLinkActive="mat-list-active">
        <mat-icon>directions_run</mat-icon>
        <span class="sidenav-menu">Quotas Earned</span>
      </a>
      <a mat-list-item [routerLink]="['/calendar']" [queryParams]="{ edition: selectedOlympics }"
        routerLinkActive="mat-list-active">
        <mat-icon>calendar_month</mat-icon>
        <span class="sidenav-menu">Calendar</span>
      </a>
      <a mat-list-item [routerLink]="['/schedule']" [queryParams]="{sport: '', edition: selectedOlympics}"
        [ngClass]="{'mat-list-active': isScheduleActive()}">
        <mat-icon>date_range</mat-icon>
        <span class="sidenav-menu">Schedule</span>
      </a>
      <a mat-list-item [routerLink]="['/shows']" [queryParams]="{ edition: selectedOlympics }"
        routerLinkActive="mat-list-active">
        <mat-icon>movie</mat-icon>
        <span class="sidenav-menu">Shows I love</span>
      </a>
      <a mat-list-item [routerLink]="['/stories']" [queryParams]="{ edition: selectedOlympics }"
        routerLinkActive="mat-list-active">
        <mat-icon>description</mat-icon>
        <span class="sidenav-menu">Stories</span>
      </a>
      <a mat-list-item [routerLink]="['/feedback']" [queryParams]="{ edition: selectedOlympics }"
        routerLinkActive="mat-list-active">
        <mat-icon>feedback</mat-icon>
        <span class="sidenav-menu">Feedback</span>
      </a>
      <a mat-list-item [routerLink]="['/about']" [queryParams]="{ edition: selectedOlympics }"
        routerLinkActive="mat-list-active">
        <mat-icon>info</mat-icon>
        <span class="sidenav-menu">About</span>
      </a>
      <a mat-list-item (click)="openAboutMe()">
        <mat-icon>contact_page</mat-icon>
        <span class="sidenav-menu">About Me</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [@routeAnimations]="prepareRoute(outlet)" class="router-outlet-container">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <!-- <mat-toolbar  class="botton-toolbar"></mat-toolbar> -->
  </mat-sidenav-content>
</mat-sidenav-container>