.olympic-logo{
    width: 60px;
    padding: 0px 2px 0px 0px;
}
.logo-button{
    margin-left: 0px;
}
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  .sidenav-menu{
      padding-left: 30px;
  }
  .sidenav .top-toolbar {
    background: inherit;
  }
  
  .top-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .toggle-text{
    font-size: 14px;
    font-weight: 500;
  }
  .botton-toolbar {
    position: sticky;
    bottom: 0;
    z-index: 1000;
  }
// For dark and light theme mode  
//    :host { 
//      min-height: 100%;
//      display: flex;
//  }

.nav-links {
  display: flex;
  align-items: center;
}

@media (max-width: 599px) {
  .hide-mobile {
    display: none;
  }
}