<mat-toolbar *ngIf="edition !== '2028'" class="schedule-toolbar">
  <h4> Full <span *ngIf="sport">{{sport}}</span> Schedule <span *ngIf="date">For {{date}}</span> </h4>
  <span class="fill-remaining-space"></span>
  <div class="filter-btns">
    <div class="schedule-button" [routerLink]="['/schedule']" [queryParams]="{sport: '', edition: edition}"
      routerLinkActive="active-link">
      By Sports
    </div>
    <div class="schedule-button" [routerLink]="['/schedule']" [queryParams]="{date: '', edition: edition}"
      routerLinkActive="active-link">
      By Dates
    </div>
  </div>
</mat-toolbar>
<div *ngIf="schedule && edition !== '2028'" class="schedule-conatiner">
  <section class="schedule-section" *ngFor="let sports of schedule">
    <div class="schedule-label">
      <div *ngIf="!getByDate" color="">
        <img *ngIf="sports?.sportname" [routerLink]="['/sports/' + sports?.sportname]"
          [queryParams]="{edition: edition}" class="pictogram-button-image pictogram-sport-schedule"
          src="assets/images/pictograms/icons/{{sports?.sportname}}.png" alt="{{sports.sportname}} pictogram" />
      </div>
      <div *ngIf="getByDate" color="">{{sports.sportname | humanize}}</div>
    </div>
    <div class="schedule-button-row">
      <div *ngFor="let event of sports.events | keyvalue:originalOrder">
        <div class="schedule-button" *ngIf="!getByDate" color="" (click)="showEvents(sports.sportname, event.value)"
          aria-label="Date schedule button">
          <img *ngIf="event.value[0]?.ismedalevent" class="medal-icon" src="assets/images/icons/medal.png" alt="medals">
          {{event.key | humanize}}
        </div>
        <div *ngIf="getByDate" color="" (click)="showEvents(sports.sportname, event.value, event.key)"
          aria-label="Date schedule button">
          <img src="assets/images/pictograms/icons/{{event?.key}}.png" class="pictogram-button-image"
            alt="{{event?.key}} pictogram" />
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </section>
</div>
<div *ngIf="edition === '2028'" class="la-2028-container">
  <div class="no-data-message">
    The 2028 Los Angeles Olympic program (LA28) is scheduled to take place from 14-30 July 2028. It will
    feature 35 sports, including five new additions: baseball/softball, cricket, flag football, lacrosse, and squash,
    along with a total of 351 medal events, 22 more than Paris 2024. Schedule will be Updated as Quota places are earned
    by Indian Athletes.
  </div>
  <app-countdown *ngIf="edition === '2028'" [targetDate]="countdownTargetDate" label="LA 2028 Opening Ceremony:">
  </app-countdown>
  <button mat-fab extended color="primary" class="view-all-button" (click)="onOlympicsChange('2020')">
    <mat-icon>date_range</mat-icon>
    See Tokyo 2020 Schedule
  </button>
</div>