@use '@angular/material' as mat;
.mat-toolbar {
  height: 84px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  @include mat.elevation(4);
}
.schedule-conatiner {
  padding: 24px;
  min-height: 48px;
  // width: 100%;
  background-color: var(--mat-toolbar-container-background-color);
}
.medal-icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.schedule-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.pictogram-sport-schedule {
  height: 24px;
  width: 24px;
  text-align: center;
  vertical-align: middle;
}
.schedule-button-row {
  display: table-cell;
  // width: 800px;
}

.schedule-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.date-button {
  margin: 4px;
}
.schedule-flex-container {
  display: flex;
  align-content: center;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.schedule-button-container {
  display: flex;
  // justify-content: center;
  // width: 60px;
}
