# nginx/default.conf.template
server {
    listen 80;
    listen [::]:80;
    server_name _;

    add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://.googletagmanager.com https://static.cloudflareinsights.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: https:; font-src 'self' https://fonts.gstatic.com; connect-src 'self' wss: ws: https://.google-analytics.com https://.googletagmanager.com https://static.cloudflareinsights.com; frame-src 'self' https://.youtube-nocookie.com https://www.youtube.com;";

    location / {
        proxy_pass http://app:$APP_PORT;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /api/ {
        # limit_req zone=api burst=20 nodelay;
        proxy_pass http://app:$APP_PORT;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}