.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--mat-card-background-color, #f9f9f9); /* Use card background or default */
  margin: 20px auto; /* Center the component */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 400px; /* Limit width for better appearance */
  box-shadow: var(--primary-color) 0px 0.5px 11px 2px;
}

.countdown-label {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--primary-color, #333); /* Use primary color or default */
  text-align: center;
}

.countdown-timer {
  display: flex;
  gap: 20px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: var(--primary-color, #007bff); /* Use primary color or default */
}

.countdown-item small {
  font-size: 0.5em;
  font-weight: normal;
  color: var(--mat-card-foreground-color, #666); /* Use card foreground color or default */
  margin-top: 5px;
  text-transform: uppercase;
}