<div *ngIf="sportsdetails">
        <mat-toolbar class="child-toolbar">
                <div class="pictogram-slider">
                        <button class="toolbar-pictogram-button"
                                [ngClass]="{'active-sport-button': sport === sportsdetails.name}" mat-icon-button
                                *ngFor="let sport of allsports" [routerLink]="['/sports',sport]"
                                [class.active]="sport === sportsdetails.name" [attr.data-sport]="sport">
                                <img class="pictogram-button-image" src="assets/images/pictograms/icons/{{sport}}.png"
                                        alt="{{sport}} pictogram" />
                        </button>
                </div>
        </mat-toolbar>
        <div class="container">
                <div class="sports-details-card mat-elevation-z2">
                        <picture>
                                <source type="image/webp" srcset="assets/images/sports/{{sportsdetails.name}}.webp">
                                <img [ngClass]="{'sports-details-card-image': true, 'sports-details-card-image-bigger': false}"
                                        [src]="sportsdetails.image" alt="Athlete Image">
                        </picture>
                        <div class="sport-details-card-header">
                                <div class="sport-details-card-header-text">
                                        <h1>{{sportsdetails.name | uppercase}}</h1>
                                        <span class="medals-number"><img class="medal-icon"
                                                        src="assets/images/icons/medal.png"
                                                        alt="medals">{{sportsdetails.Medals}}</span>
                                </div>
                                <div class="sport-buttons">
                                        <div class="action-buttons">
                                                <a [href]="'assets/docs/qualification/' + sportsdetails.name + '/' + sportsdetails.name + '.pdf'"
                                                        target="_blank">
                                                        <button mat-fab color="primary"
                                                                [matTooltip]="'Qualification Road for Tokyo'"
                                                                matTooltipPosition="below">
                                                                <mat-icon>picture_as_pdf</mat-icon>
                                                        </button>
                                                </a>
                                                <button mat-fab color="primary" [matTooltip]="'Qualified Athletes'"
                                                        matTooltipPosition="below" [routerLink]="['/athletes']"
                                                        [queryParams]="{sports: qualifiedAthletesString, pageIndex: '0', pazeSize: '8'}">
                                                        <mat-icon>flight_takeoff</mat-icon>
                                                </button>
                                                <button mat-fab color="primary" [matTooltip]="'Schedule'"
                                                        matTooltipPosition="below" [routerLink]="['/schedule']"
                                                        [queryParams]="{sport: sportsdetails.name}">
                                                        <mat-icon>today</mat-icon>
                                                </button>
                                        </div>
                                        <div class="category-buttons">
                                                <button mat-fab *ngFor="let category of sportsdetails.events | keyvalue"
                                                        (click)="showEvents(category)"
                                                        [class.selected]="selectedCategory === category.key"
                                                        [color]="selectedCategory === category.key ? 'secondary' : 'primary'"
                                                        [matTooltip]="category.key | titlecase"
                                                        matTooltipPosition="below">
                                                        <mat-icon>{{getCategoryShorthand(category.key)}}</mat-icon>
                                                </button>
                                        </div>
                                </div>
                        </div>
                        <p>
                                {{sportsdetails.description}}
                        </p>
                </div>
        </div>
</div>