  .container-bigger{
    margin: 24px auto;
    max-width:800px;
  }
  .container {
    margin: 24px;
}

  .event-header .mat-expansion-panel-header-title {
    flex-basis: 0;
    align-items: center;
  }
  .medal-icon{
      margin-top:20px;
      height: 16px;
      width: 16px;
  }
  .medals-number{
    float:left;
    font-size: 22px;
    margin-right: 5px;
  }
  .events-container{
      margin-top: 10px;
  }

  table{
    width: 100%
  }
  .sports-details-card {
    border-radius: 10px;
  }
  .sports-details-card .sports-details-card-image-bigger{
    border-radius:10px 0 0 0px;
    max-height: 300px;
    max-width:  500px;
    float: left;
  }

  .sports-details-card .sports-details-card-image{
    border-radius:10px 10px 0 0px;
    max-height: 300px;
    max-width:  100%;
    float: left;
  }
  .sport-details-card-header {
    text-align:center;
  }
  .sport-details-card-header h1{
    margin-left:24px;
    font-weight:400;
    text-align:center;
    font-size:30px;
    padding:0 0 0 0px;
    letter-spacing:1px;
    float:left;
  }

  .sport-details-card-header-bigger h1 {
    font-weight:400;
    text-align:left;
    font-size:40px;
    padding:0 0 0 30px;
    letter-spacing:1px;
    float:left;
  }
  .sport-details-card-header-bigger a{
    margin: 0px 0px 0px 30px;
  }
  // .foot-note-pdf{
  //   margin:5px 24px 5px 24px;
  //   font-family: 'Montserrat', sans-serif;
  //   font-size:10px;
  //   float:left;
  //   letter-spacing:1px;
  //   line-height:20px;
  // }
  p {
    margin:24px 24px 24px 24px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    float:left;
    letter-spacing:1px;
    line-height:20px;
    text-align:left;
  }
