<div *ngIf="total > 0" class="cards-container">
  <mat-error *ngIf="errmsg">{{errmsg}}</mat-error>
  <mat-card color="primary" class="athletes-card mat-elevation-z8" *ngFor="let athlete of athletes" (click)="navigateToProfile(athlete.profileUrl)" [class.clickable]="athlete.profileUrl">
    <div class="image-overlay-container">
      <picture>
        <source *ngIf="athlete.webpimage" type="image/webp" srcset="assets/images/{{athlete.webpimage}}">
        <img mat-card-image class="athlete-image" src="assets/images/{{athlete.image}}"
          [attr.alt]="athlete.name + ' photo'" onerror="this.onerror=null; this.src='assets/images/placeholder.png';">
      </picture>
      <div class="overlay-content">
        <div class="overlay-text">
          <h3 class="athlete-name">{{ athlete.name }}</h3>
          <p class="athlete-event">{{ athlete.event }}</p>
        </div>
        <img class="pictogram-overlay-image" src="assets/images/pictograms/icons/{{athlete.sportname}}.png"
          alt="{{athlete.sportname}} pictogram" />
      </div>
    </div>
    <mat-card-content>
      <!-- <strong>Qualification:</strong>&nbsp;{{athlete.qualificationEvent}}<br /> -->
      SB: {{ athlete.SB }} | PB: {{ athlete.PB }}<br />
      <!-- <strong>Date Quota Earned:</strong>&nbsp;{{ athlete.date_qualified * 1000 | date}} -->
    </mat-card-content>
  </mat-card>
</div>
