<!-- <mat-paginator #paginator [length]="totalathletes" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5,10]">
</mat-paginator> -->
<!-- {{ athletes | json}} -->
<div *ngIf="athletes" class="cards-container" fxLayout="row wrap" fxLayoutGap="16px"
        fxLayoutAlign="center center">
        <mat-card color="primary" class="athletes-card"
                *ngFor="let athlete of athletes">
                <mat-card-header>
                        <img mat-card-avatar src="pictograms/{{athlete.sportname}}.png" />
                        <mat-card-title>{{ athlete.name }}</mat-card-title>
                        <mat-card-subtitle>{{ athlete.event }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="athlete-image" src="{{athlete.image}}" alt="{{ athlete.name }} photo" />
                <mat-card-content>
                    <strong>Qualification Event:</strong>&nbsp;{{athlete.qualificationEvent}}
                </mat-card-content>
        </mat-card>
</div>