.cards-container{
  margin:24px 0px 24px 24px;
}
.athletes-card {
    width:300px;
    min-width: 300px;
    margin-bottom: 16px;
    margin-right: 16px;
    height: 360px;
  }
.mat-card-header{
    height:80px;
} 
.athlete-image {
    height:200px;
    padding:0px;
    object-fit: cover;
  }