@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@include mat-core();

// Define the default theme .
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);

// Include the default theme styles.
@include angular-material-theme($light-theme);
:root{
  --color-background: #ffffff;
  --primary-color: $light-primary;
}

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-amber, A200, A100, A400);
$dark-accent:  mat-palette($mat-blue-grey);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent,$dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want.
.dark-theme {
  @include angular-material-theme($dark-theme);
  --color-background: #424242;
  --primary-color: $dark-primary;
}
// // Dark theme
// $dark-primary: mat-palette($mat-blue-grey);
// $dark-accent: mat-palette($mat-amber, A200, A100, A400);
// $dark-warn: mat-palette($mat-deep-orange);
// $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
// .grey-dark-theme {
//     @include angular-material-theme($dark-theme);
//     --color-primary: #{mat-color($dark-primary)};
//     --color-accent: #{mat-color($dark-accent)};
//     --color-warn: #{mat-color($dark-warn)};
//     --color-background: #424242;
// }
// Red Dark .dark-theme
$red-dark-primary: mat-palette($mat-red);
$red-dark-accent: mat-palette($mat-deep-orange, A200, A100, A400);
$red-dark-warn: mat-palette($mat-red);
$red-dark-theme: mat-dark-theme($red-dark-primary, $red-dark-accent, $red-dark-warn);
.red-dark-theme {
    @include angular-material-theme($red-dark-theme);
    --color-primary: #{mat-color($red-dark-primary)};
    --color-accent: #{mat-color($red-dark-accent)};
    --color-warn: #{mat-color($red-dark-warn)};
    --color-background: #424242;
    --primary-color: $red-dark-primary;
}
