@use '@angular/material' as mat;
@use 'sass:map';

// Include the common styles for Angular Material
@include mat.core();

// Define palettes using m2- prefixed functions and palettes
$light-primary: mat.m2-define-palette(mat.$m2-blue-palette, 700); // Azure blue
$light-accent: mat.m2-define-palette(mat.$m2-light-blue-palette, A200, A100, A400);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object with m2-define-light-theme
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn
  )
));

// Apply the theme
@include mat.all-component-themes($light-theme);

:root {
  --color-background: #f0f8ff; // Azure-tinted background
  --primary-color: #{mat.m2-get-color-from-palette($light-primary)};
}

// Dark theme with m2- prefixed functions and palettes
$dark-primary: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$dark-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$dark-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  --color-background: #424242;
  --primary-color: #{mat.m2-get-color-from-palette($dark-primary)};
}

// Red Dark theme
$red-dark-primary: mat.m2-define-palette(mat.$m2-red-palette);
$red-dark-accent: mat.m2-define-palette(mat.$m2-deep-orange-palette, A200, A100, A400);
$red-dark-warn: mat.m2-define-palette(mat.$m2-red-palette);

$red-dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $red-dark-primary,
    accent: $red-dark-accent,
    warn: $red-dark-warn
  )
));

.red-dark-theme {
  @include mat.all-component-colors($red-dark-theme);
  --color-primary: #{mat.m2-get-color-from-palette($red-dark-primary)};
  --color-accent: #{mat.m2-get-color-from-palette($red-dark-accent)};
  --color-warn: #{mat.m2-get-color-from-palette($red-dark-warn)};
  --color-background: #424242;
}
