@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent,$dark-warn);

// Include the default theme styles.
@include angular-material-theme($dark-theme);


// Define an alternate dark theme.
$light-primary: mat-palette($mat-blue-grey);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.light-theme {
  @include angular-material-theme($light-theme);
}