/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fill-remaining-space {
    flex: 1 1 auto;
  }
.mat-chip-category { background-color: darkcyan !important; }
.sticky-paginator {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pictogram-sport-details{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.custom-dialog .mat-dialog-container {
  display: block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 24px;
  padding-left: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  min-height: inherit;
  max-height: inherit;
}

