<div *ngIf="edition !== '2028'" class="calendar-wrapper">
  <mat-paginator class="sticky-paginator" #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5,10,25]">
  </mat-paginator>
  <div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="EventName">
        <mat-header-cell *matHeaderCellDef>Event Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Event Name:</span>
          {{ element.name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Sport">
        <mat-header-cell *matHeaderCellDef>Sport</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Sport Name:</span>
          {{ element.sportname }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="StartDate">
        <mat-header-cell *matHeaderCellDef>StartDate</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Start Date:</span>
          {{ element.startdate }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="EndDate">
        <mat-header-cell *matHeaderCellDef>EndDate</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">End Date:</span>
          {{ element.enddate }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Venue">
        <mat-header-cell *matHeaderCellDef>Venue</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Venue:</span>
          {{ element.venue }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>
<app-countdown *ngIf="countdownTargetDate" [targetDate]="countdownTargetDate"
  label="Time Until First Qualification Event"></app-countdown>