<div class="calendar-wrapper">
  <ng-container *ngIf="totalRecords > 0">
    <!-- Add (scroll)="onScroll($event)" once more data is available-->
    <div class="cards-container">
      <mat-card *ngFor="let element of dataSource.data" class="calendar-card mat-elevation-z4">
        <mat-card-content>
          <div class="card-item">
            <span class="label">Event:</span>
            <span class="value event-name-value" title="{{ element.name }}">{{ element.name }}</span>
          </div>
          <div class="card-item">
            <span class="label">Sport:</span>
            <span class="value">{{ element.sportname }}</span>
          </div>
          <div class="card-item">
            <span class="label">Start Date:</span>
            <span class="value">{{ element.startdate }}</span>
          </div>
          <div class="card-item">
            <span class="label">End Date:</span>
            <span class="value">{{ element.enddate }}</span>
          </div>
          <div class="card-item">
            <span class="label">Venue:</span>
            <span class="value">{{ element.venue }}</span>
          </div>
        </mat-card-content>
      </mat-card>
      <div *ngIf="isLoading" class="loading-spinner">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </div>
  </ng-container>
  <div class="LA2028-container">
    <div *ngIf="totalRecords === 0" class="no-data-message">
      Qualification pathway will be released by respective sports federations for each of the 18 sports. This page will
      be updated as and when the official pathway is released.
    </div>
    <button *ngIf="totalRecords === 0" mat-fab extended color="primary" class="view-all-button"
      (click)="onOlympicsChange('2020')">
      <mat-icon>calendar_month</mat-icon>
      See Tokyo 2020 Calendar
    </button>
  </div>
</div>