@use '@angular/material' as mat;

.calendar-wrapper {
  margin: 8px 12px 24px 12px;
}

@media (min-width: 960px) {
  .calendar-wrapper {
    margin: 8px 24px 24px 24px;
    max-width: 100%;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px 0;
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}

.calendar-card {
  flex: 1 1 calc(100% - 32px); /* Default to full width minus gap for mobile */
  max-width: calc(100% - 32px);
  @include mat.elevation(4);
  background-color: var(--mat-toolbar-container-background-color);
  color: var(--color-text);
  font-family: 'Geist Sans', sans-serif;
  border-radius: 8px; /* Slightly rounded corners */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;/* Subtle shadow for depth */
  &:hover {
    transform: translateY(-3px); /* Subtle lift effect on hover */
    box-shadow: gray 0px 0.1px 4px 2px; /* Enhanced shadow on hover */
  }
  .card-item {
    display: flex;
    flex-direction: row; /* Always display horizontally */
    align-items: start; /* Align text nicely */
    padding: 4px 24px;
    flex-wrap: wrap; /* Allow items to wrap if content is too long */
    justify-content: space-between; /* Distribute space between label and value */

    .label {
      font-weight: 500; /* Slightly bolder label */
      margin-right: 8px; /* Space between label and value */
      color: var(--color-text-secondary);
      min-width: 90px; /* Give labels a minimum width for alignment */
    }

    .value {
      word-break: break-word;
      flex-grow: 1; /* Allow value to take remaining space */
      text-align: right; /* Align value to the right */
      color: var(--color-text);
    }

    .event-name-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 100px); /* Adjust based on label width + margin */
    }
  }
}

@media (min-width: 600px) {
  .calendar-card {
    flex: 1 1 calc(50% - 32px); /* Two cards per row on medium screens */
    max-width: calc(50% - 32px);
  }
}

@media (min-width: 960px) {
  .calendar-card {
    flex: 1 1 calc(33.333% - 32px); /* Three cards per row on large screens */
    max-width: calc(33.333% - 32px);
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.LA2028-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}