@use '@angular/material' as mat;

.container {
    margin: 88px 24px 24px 24px; // 64px toolbar + 24px spacing
}

@media (min-width: 960px) {
    .container {
        margin: 24px;
        max-width: 100%;
    }
}

// By default, the mobile label shouldn't show
.mobile-label {
    display: none;
}

@media (max-width: 600px) {
    .mobile-label {
        width: 100px;
        display: inline-block;
        font-weight: bold;
        margin-right: 8px;
    }

    .mat-mdc-header-row {
        display: none;
    }

    .mat-mdc-cell {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px 0;
        min-height: 24px;
        border-bottom: none;
    }

    .mat-mdc-row {
        flex-direction: column;
        align-items: start;
        padding: 12px 24px;
        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-mdc-paginator, .mat-mdc-table {
    width: 100%;
    @include mat.elevation(4);
    background-color: var(--mat-toolbar-container-background-color);
}

.no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
    font-family: 'Geist Sans', sans-serif;
    color: var(--color-text);
    text-align: center;
    padding: 20px;
    margin: 24px;
    border-radius: 8px;
    background-color: var(--mat-toolbar-container-background-color);
}