.container{
    margin:24px;
}
[fxFlex]:last-of-type { margin-right:24px; }
.pictogram-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.sports-icons{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.sports-card{
    min-width: 80px;
    min-height: 80px;
    // border-radius: 50%;
}
.home-top-margin{
    padding-top:20px;
}

.sports-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 24px;
  gap: 24px;
}

.text-center {
  text-align: center;
}
