<div class="container" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div *ngFor="let sport of allsports">
        <mat-card class="sports-card" [routerLink]="['/sports',sport.name]">
        <img [src]="sport.pictogram" 
            class="sports-icons">
        </mat-card>
        <mat-card-content fxLayoutAlign="center">
                {{sport.name}}
        </mat-card-content>
    </div>
</div>
<div fxLayoutAlign="center center">
    <p>All the pictograms used are owened by the IOC.The Tokyo 2020 pictograms are designed by Masaaki Hiromura.</p>
</div>
