name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - 
      name: Checkout code
      uses: actions/checkout@v4
    - 
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - 
      name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        platforms: linux/arm64
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/iod-backend:latest
        cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/iod:cache
        cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/iod:cache,mode=max 
